body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  

  
  header {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .headercontainer {
    display: flex;
    align-items: center;
  }
  
  .imagen1 img {
    max-width: 100px;
    height: auto;
  }
  
  h3 {
    margin-left: 20px;
  }
  
  
  .cuerpo {
    background-color: #fff;
    padding: 20px;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .parrafo {
    color: #666;
    line-height: 1.5;
  }
  
  .imagen2 img {
    max-width: 200px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .bloqueabajo {
    margin-top: 40px;
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  .cabecerabloqueabajo {
    margin-bottom: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  .parrafobloque1 {
    color: #666;
  }
  
  /* Estilos del pie de página */
  
  .footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
  }
  
  nav {
    margin-top: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }